footer {
  padding: 5rem 2rem;
  background-color: var(--primaryColor);

  .row {
    div[class*="col"] {
      @media(max-width: 768px) {
        text-align: center;
        margin-bottom: 2rem;
      }

      img.logo {
        max-width: 100%;
        width: 200px;
        margin-bottom: 2rem;
      }

      h5 {
        color: var(--white);
        margin-bottom: 2rem;
        font-weight: 400;

        @media(max-width: 768px) {
          margin-bottom: 1rem;
        }
      }

      nav {
        display: flex;
        flex-direction: column;
      }

      p, a {
        color: var(--white);
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }
    }
  }
}