<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <img src="../../../assets/images/logo-neg.png" alt="Connenqt" class="logo" />
        <p>Duis autem vel eum iriure dolor inhendrerit in vulputate velit essemolestie consequat, vel illumdolore eu feugiat nulla facilisis.</p>
      </div>
      <div class="col-xl-3 col-lg-6">
        <h5>Important Links</h5>
        <nav>
          <a href="#">About Us</a>
          <a href="#">Support</a>
          <a href="#">Contact Us</a>
          <a href="#">Our Products</a>
          <a href="#">Payment Methods</a>
        </nav>
      </div>
      <div class="col-xl-3 col-lg-6">
        <h5>Useful Links</h5>
        <nav>
          <a href="#">Cases</a>
          <a href="#">White Papers</a>
          <a href="#">FAQ</a>
          <a href="#">Blog</a>
        </nav>
      </div>
      <div class="col-xl-3 col-lg-6">
        <h5>Get in Touch</h5>
        <nav>
          <p>Email: <a href="#">contact@conneqt.com</a></p>
          <p>Phone: <a href="#">469-844-8261</a></p>
        </nav>
      </div>
    </div>
  </div>
</footer>
