<section class="form" *ngIf="!(formSent)">
  <h2>Free-Trial Sign Up</h2>
  <h4>Get started and experience Conneqt today.</h4>

  <form (ngSubmit)="submit()" [formGroup]="signUpForm" >
    <div class="form-field">
      <input type="text" placeholder="Company Name" required formControlName="company" />
      <div class="validation-error" *ngIf="company.invalid && formDir.submitted">Company name is required</div>
    </div>
    <div class="form-field">
      <input type="text" placeholder="Segment" required formControlName="segment" />
      <div class="validation-error" *ngIf="segment.invalid && formDir.submitted">Segment is required</div>
    </div>
    <div class="form-field">
      <input type="number" placeholder="Number of users*" required formControlName="users" />
      <span>*How many devices would have Conneqt installed.</span>
      <div class="validation-error" *ngIf="users.invalid && formDir.submitted">Number of users is required</div>
    </div>
    <div class="form-field">
      <input type="text" placeholder="Full Name" required formControlName="name" />
      <div class="validation-error" *ngIf="name.invalid && formDir.submitted">Name is required</div>
    </div>  
    <div class="form-field">
      <input type="email" placeholder="Email" required formControlName="email" />
      <div class="validation-error" *ngIf="email.invalid && formDir.submitted">
        <div *ngIf="email.errors?.['required']">Email is required</div>
        <div *ngIf="email.errors?.['email']">Email is invalid</div>
      </div>
    </div>
    <div class="form-field">
      <input type="text" placeholder="Telephone" required formControlName="phone" />
      <div class="validation-error" *ngIf="phone.invalid && formDir.submitted">Telephone is required</div>
    </div>
    <div class="form-field">
      <input type="password" placeholder="Password" required formControlName="password" />
      <div class="validation-error" *ngIf="password.invalid && formDir.submitted">Password is required</div>
    </div>

    <button type="submit" class="btn">Sign Up and Try for Free</button>
  </form>
</section>

<section class="success-message" *ngIf="formSent">
  <h2>Free-Trial Sign Up</h2>
  <h4>Get started and experience Conneqt today.</h4>
  <p>A confirmation email with your credentials was sent to your email address.</p>
  <button class="btn" (click)="resetForm()">Get started with Conneqt</button>
</section>

